.container00 {
  &.container05 {
    background-image: url(../assets/falcon9/01.jpg);
  }
  &.container06 {
    background-image: url(../assets/falcon9/02.jpg);
  }

  &.carrosel01 {
    background-image: url(../assets/falcon9/03.jpg);
  }
  &.carrosel02 {
    background-image: url(../assets/falcon9/04.jpg);
  }
  &.carrosel03 {
    background-image: url(../assets/falcon9/05.jpg);
  }
  &.carrosel04 {
    background-image: url(../assets/falcon9/06.jpg);
  }
  &.carrosel05 {
    background-image: url(../assets/falcon9/07.jpg);
  }

  &.container07 {
    background-image: url(../assets/falcon9/08.jpg);
  }
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  .titleFalcon9 {
    font-size: 90px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .titleNumb {
    font-size: 90px;
  }
  .subtitleNumb {
    font-size: 20px;
  }
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}
.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
.carrosselSlide {
  img {
    height: 100vh;
  }
}
.carousselText {
  background-color: black;
}


@media (max-width: 768px) {
  .numbers {
    .titleNumb {
      font-size: 80px;
    }
    .subtitleNumb {
      font-size: 18px;
    }
  }
  .falcon9Desc {
    width: auto;
  }
  #overViewPosition {
    padding-top: 35%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 428px) {
  .titleContent {
    .titleFalcon9 {
      font-size: 50px;
    }

    .subtitleFalcon9 {
      font-size: 20px;
    }
  }
  .falcon9Desc {
    font-size: 20px;
    line-height: auto;
    text-align: justify;
  }
}
