.container00 {
  &.container01 {
    background-image: url(../assets/home/01.jpg);
  }
  &.container02 {
    background-image: url(../assets/home/03.jpg);
  }
  &.container03 {
    background-image: url(../assets/home/02.gif);
  }
  &.container04 {
    background-image: url(../assets/home/04.jpg);
  }
}

.titlePadding {
  padding-top: 200px;
}
.shortTitle {
  @include width-maginBottom(550px, 25px);
}
.mediumTitle {
  @include width-maginBottom(650px, 25px);
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
