.header {
  font-size: 12px;
  font-weight: bold0;
  #navItem {
    &:hover {
      color: $link-hover;
    }
  }
}
.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: $padding-button;
  border: 2px solid white;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding: 240px;

  button {
    border: 2px solid white;
    margin-right: 10px;
  }
}

.emailObc {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;

  &:hover {
    border-bottom: 1px solid $link-hover;
    color: $link-hover;
  }
}

.footer {
  @include display(flex, center, center);
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $link-hover;
    }
  }
  .copyOBC {
    color: $copy-color;
  }
}

// media query

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 428px) {
  .downloadDesc {
    button {
      margin: 10px 0px;
    }
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
